---
/*  import  */
import Layout from "../layouts/Layout.astro";
import NewsCard from "../components/NewsCard.astro";

/*  constants query   */
const query = `
    query GetHomeData {
        generalSettings {
            title
            description
        }
        posts(first: 4) {
            nodes {
                slug        
                title   
                date      
                featuredImage { 
                    node {
                        sourceUrl 
                    }
                }
            }
        }
    }
`;

/* variables & API URL & Type security */
const url = import.meta.env.PUBLIC_WORDPRESS_API_URL;
let schoolData = null;
let errorMessage = null;
let posts = [];

type PostType = {
	title: string;
	slug: string;
	date: string;
	featuredImage: any;
};
/* logic Fetch API */
try {
	const response = await fetch(url, {
		method: "POST",
		headers: {
			"Content-Type": "application/json",
		},
		body: JSON.stringify({ query }),
	});

	if (!response.ok) {
		throw new Error(`Server ตอบกลับผิดปกติ: ${response.status}`);
	}

	const json = await response.json();

	if (json.errors) {
		throw new Error(`GraphQL ฟ้องว่า: ${json.errors[0].message}`);
	}
	schoolData = json.data.generalSettings;
	posts = json.data.posts.nodes;
} catch (error) {
	console.error("💥 พังยับเลยครับอาจารย์:", error);
	errorMessage = "ขออภัย ไม่สามารถดึงข้อมูลโรงเรียนได้ในขณะนี้";
}
console.log("เช็คpost: ", posts);
---

<!-- HTML -->
<Layout title="Home Page">
	<!-- <html lang="th"> --><!-- <head>
		<meta charset="utf-8" />
		<meta name="description" content={schoolData?.description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{schoolData?.title || "กำลังโหลด..."}</title>
	</head> -->
	{
		errorMessage && (
			<>
				<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
					<strong>โอ๊ะ!</strong> {errorMessage}
				</div>
			</>
		)
	}

	{
		schoolData && (
			<>
				<header>
					<div class="max-w-2xl mx-auto bg-white shadow-lg rounded-2xl p-8 text-center">
						<h1 class="text-4xl font-bold text-blue-900 mb-2">
							{schoolData.title}
						</h1>
						<p class="text-gray-600 text-lg italic">
							{schoolData.description}
						</p>

						<hr class="my-6 border-gray-200" />

						<div class="text-sm text-green-600 font-semibold uppercase tracking-widest color-red-500">
							🚀 เชื่อมต่อ WordPress สำเร็จแล้ว!
						</div>
					</div>
				</header>

				<article class="mb-30 w-[100%] flex justify-center">
					<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mx-10">
						{posts.map((post: PostType) => (
							<NewsCard
								title={post.title}
								image={post.featuredImage?.node?.sourceUrl}
								date={post.date}
								slug={post.slug}
							/>
						))}
					</div>
				</article>
			</>
		)
	}
</Layout>
<!-- </html> -->
